@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="app-header">
        <LoginControl />
    </div>

    <div class="main-grid">
        @Body
    </div>
</div>
